.header {
    background-color: $azul-claro;
    color: $blanco;
    height: 80px;
    
    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 600px;
        width: 80%;
        margin-inline: auto;
    
        span {
            padding: 8px;
        }
    }

}


footer {
    background-color: $azul-claro;
    color: $blanco;
    text-align: center;
    width: 100%;
    position:absolute;
    bottom: 0;


    span {
        display: block;
        padding: 4px
    }

    ;
}