* {
    margin: 0;
    padding: 0;

}

body {

    @extend .sarala-regular;
}

.link-claro {
    color: $blanco;
    text-decoration: none;
}

.link-oscuro {

    color: $negro;
    text-decoration: none;

}