// Variables pastel
// $azul: #1A4F63;
// $azul-claro: #068587;
// $verde: #6FB07F;
// $amarillo: #FCB03C;
// $rojo: #C1171D;
// $naranja: #FC5B3F;
// $blanco: #fff;
// $gris: #eee;
// $sombra-clara: #ddd;

// Variables vibrantes
$azul: #0511F2;
$azul-claro: #2793F2;
$violeta: #341959;
$violeta-claro: #982AB7;
$rosa: #CA38F2;
$fucsia: #F20CB5;
$verde: #6FB07F;
$amarillo: #FCB03C;
$rojo: #C1171D;
$naranja: #FC5B3F;
$blanco: #fff;
$gris: #f5f5f5;
$sombra-clara: #bbb;
$negro: #123